.navbar .navbar-brand .sprite {
    background-image: url(@logo-sprite-image);
}
#index .section-head { 
    background-image: url(@home-background-image);
}
#about .section-head { 
    background-image: url(@about-background-image);
}
#jobseekers .section-head { 
    background-image: url(@jobseekers-background-image);
}
#employers .section-head { 
    background-image: url(@employers-background-image);
}
#jobsearch .section-head { 
    background-image: url(@jobs-background-image);
}
#contact .section-head { 
    background-image: url(@contact-background-image);
}
#footer .section-head { 
    background-image: url(@footer-background-image);
}

.sector-head-jobs {
    background-image: url(@jobs-admin-header-background-image);
}
.sector-head-jobs-administration,
.sector-head-jobs-secretarial {
    background-image: url(@jobs-admin-header-background-image);
}
.sector-head-jobs-care {
    background-image: url(@jobs-care-header-background-image);
}
.sector-head-jobs-hospitality {
    background-image: url(@jobs-hospitality-header-background-image);
}
.sector-head-jobs-catering {
    background-image: url(@jobs-catering-header-background-image);
}
.sector-head-jobs-industrial {
    background-image: url(@jobs-industrial-header-background-image);
}
.sector-head-jobs-sales,
.sector-head-jobs-business-development {
    background-image: url(@jobs-sales-header-background-image);
}
.sector-head-jobs-it {
    background-image: url(@jobs-it-header-background-image);
}
.sector-head-jobs-media {
    background-image: url(@jobs-media-header-background-image);
}
.sector-head-jobs-recruitment {
    background-image: url(@jobs-recruitment-header-background-image);
}
.sector-head-jobs-estate-agency {
    background-image: url(@jobs-estateagency-header-background-image);
}
.sector-head-jobs-facilities-management {
    background-image: url(@jobs-facilities-header-background-image);
}
.sector-head-jobs-construction-management {
    background-image: url(@jobs-construction-header-background-image);
}